---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Welcome to Misixipee's website!</h1>
			<p>
				欢迎来到Misixipee的个人网站，我会在网站上分享学习，科研和生活中的收获，记录自己的思考过程，希望大家看得开心！
			</p>
			<p>
				Welcome to Misixipee's personal website. Here, I'll share insights from my studies, research, 
				and daily life, documenting my thought processes along the way. Hope you enjoy this website!
			</p>
		</main>
		<Footer />
	</body>
</html>
